* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-black {
    background-color: #000000;
}

.main-title {
    color: #5acb4e;
}

#circle-status {
    font-size: 10px;
    display: inline-block;
    margin-right: 4px;
}

.copy {
    margin-top: 128px;
}

footer {
    background-color: #0f5718;
    color: #4c9c4a;
}

.main-content{
    background-image: url(../assets/images/FUNDO.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 300px;
    padding-top: 60px;
}

.detail {
    background-size: cover;
    padding-bottom: 600px;
}




/* Classes sobrescritas do bootstrap */

.form-control {
    border-right: none;
    background-color: transparent;
    color: #5acb4e;
}

.form-control:focus {
    border-color:#dddddd;
    box-shadow: 0 0 0 0;
    border-right: none;
    background-color: transparent;
    color: #5acb4e;
}

.form-control::-webkit-input-placeholder {
    color: #5acb4e;
    font-weight:600;
}

.input-group-text {
    background-color: transparent;
    color:#5acb4e;
    border-left: none;
}

.card-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 2px;
}

.card {
    background-color: #354338;
    color: #fff;
    cursor: pointer;
    animation: zoomIn 0.5s ease-in forwards;

}

.page-link {
    color: #fff;
    background-color: #5acb4e;
    border: #5acb4e;
    border-radius: 30px;
    font-size: 20px;
    margin:10px;
    padding: 10px 20px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page-link:hover {
    color: #5acb4e;
    background-color:#fff ;
    border: #fff;
}

.page-link:focus,
.page-link:focus-visible {
  border: 1px solid #5acb4e;
  box-shadow: 0 0 0 0.25rem rgba(90, 203, 78, 0.5); 
  outline: none;
}

#btn-return {
    color: #fff;
    background-color: #5acb4e;
    border: #5acb4e;
    border-radius: 30px;
    font-size: 20px;
    margin:10px;
    padding: 10px 20px;
}


#btn-return:hover {
    color: #5acb4e;
    background-color:#fff ;
    border: #fff;
}

#btn-return:focus,
#btn-return:focus-visible {
  border: 1px solid #5acb4e;
  box-shadow: 0 0 0 0.25rem rgba(90, 203, 78, 0.5);
  outline: none;
}

ul {
    margin-left: 6rem;
}


.box {
    position: absolute;
    background: linear-gradient(90deg, #5acb4e, #fff);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: holofote 5s infinite alternate;
    filter: blur(100px);
}

.box-position {
    top: 0;
    right:0;
}

@keyframes holofote {
    0%{
        transform: rotateY(30deg) rotate(-25deg) translateZ(100px);
    }
    25%{
        transform: rotateY(-30deg) rotateZ(100px);
    }
    50%{
        transform: rotateX(-50deg) translateZ(-100px);
    }
    75%{
        transform: rotateX(-50deg) translateZ(-100px);
    }
    100%{
        transform: rotateX(20deg) translateZ(0);
    }
}


@keyframes zoomIn {
  0% {
    transform: scale(0.1); /* Começa bem pequeno */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* Tamanho original */
    opacity: 1;
  }
}




@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}


@media (max-width: 777px) {
    .detail {
    background-size: contain;
    padding-bottom: 300px;
}
}


@media (max-width: 400px) {
    .detail {
    padding-bottom: 200px;
}
}

@media (min-width:401px) and (max-width: 802px) {
    .detail {
    padding-bottom: 300px;
}
}