* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    color: #105718;
}

#circle-status {
    font-size: 10px;
    display: inline-block;
    margin-right: 4px;
}

.copy {
    margin-top: 128px;
}

footer {
    background-color: #1f2821;
    color: #848484;
}

.main-content{
    background-color: #002003;
    background-image: url(../assets/images/FUNDO.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 600px;
    padding-top: 60px;
}

.detail {
    background-size: cover;

}

/* Classes sobrescritas do bootstrap */

.form-control {
    border-right: none;
}

.form-control:focus {
    border-color:#dddddd;
    box-shadow: 0 0 0 0;
    border-right: none;
}

.input-group-text {
    background-color: transparent;
    color:#62ab60;
}

.card-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 2px;
}


.card {
    background-color: #354338;
    color: #fff;
    cursor: pointer;
}

/* 
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
} */