* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    color: #105718;
}

.form-control {
    border-right: none;
}

.form-control:focus {
    border-color:#dddddd;
    box-shadow: 0 0 0 0;
    border-right: none;
}

.input-group-text {
    background-color: transparent;
    color:#62ab60;
}

.card-title {
    font-size: 2rem;
}

#circle-status {
    font-size: 10px;
    display: inline-block;
    margin-right: 4px;
}

.copy {
    margin-top: 128px;
}

.main-content{
    background-color: #002003;
    background-image: url(../assets/images/FUNDO.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 600px;
    padding-top: 60px;
}

.card-character {
    background-color: #354338;
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #1f2821;
    color: #848484;
}